{% extends 'base.html.twig' %}

{% block title %}Total War Lord Randomizer{% endblock %}

{% block body %}

<a href="{{ path('random_lord') }}"><button>Randomize</button></a>

<h2>Search by game</h2>



{% endblock %}
