{% extends 'base.html.twig' %}

{% block title %}New EffectOrigin{% endblock %}

{% block body %}
    <h1>Create new EffectOrigin</h1>

    {{ include('effect_origin/_form.html.twig') }}

    <a href="{{ path('effect_origin_index') }}">back to list</a>
{% endblock %}
